.home-improments{
    padding-top: 9rem;
    padding-bottom: 3rem;
}
.home-improment p{
    font-size: 1.3rem !important;
    text-align: left;
}
.home-improment i{
    color: #093b7d;
    font-size: 1rem !important;
}
.home-service-line{
    border-bottom: 2px solid #093b7d;
}

.home-service h5{
    padding: 0.7rem 0.8rem 0.1rem;
}
.home-impro-img img{
 position: relative;
 z-index: 2;
}
.home-impro-img{
    position: relative;
}

.home-impro-img::before{
 
    content: '';
    position: absolute;
    display: block;
    height: 20%;
    width: 20%;
    top: -10px;
    left: -10px;
    background-color: #093b7d;
    z-index: 1;
 }
 
.home-impro-img::after{
 
    content: '';
    position: absolute;
    display: block;
    height: 20%;
    width: 20%;
    bottom: -10px;
    right: -10px;
    background-color: #093b7d;
    z-index: 1;
 }
 .home-service h5{
  font-size: 1.6rem;
 }
.home-service p{
    font-size: 1.3rem !important;
    text-align: left;
    color: rgb(73, 71, 71);
   
    padding: 0.3rem 0.8rem;
}
.home-improment-bottomtext p{
    text-align: left;
    padding-top: 3rem !important;
    font-size: 1.4rem !important;
}
.main-content{
    margin-top: 3rem !important;
}
@media only screen and (max-width:768px){
    .home-improment p{
        margin-top: 3rem !important;
    }
    .img-up{
        order: 1;
    }
    .text-down{
        order: 2;
    }
}