/* cursor change */

.cursor-hover-blue {
    position: relative;
    border: none !important;
    z-index: 1061 !important;
    width: 5px;
    height: 40px;
    background-color: black !important;
}

.cursor-hover-green {
    position: relative;
    border: none !important;
    z-index: 1061 !important;
    width: 5px;
    height: 40px;
    background-color: black !important;
}

.cursor-white {
    position: relative;
    height: 1em !important;
    z-index: 5 !important;
    width: 1em !important;
    background-color: #fff !important;
}

.cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid gray;
    /* background-color:#79bd45; */
    border-radius: 50%;
    pointer-events: none;
    z-index: 1061;
    cursor: none !important;
}

@media only screen and (max-width:990px) {
    .cursor {
        display: none;
    }
}

.Properties-Management {
   margin-top: 9rem;
   padding-bottom: 3rem;
   position: relative;
}
.property-img{
   position: relative;
   /* z-index: 1; */
}
.property-img img{
   height: 350px;
   position: relative;
   z-index: 2;
}
.property-img::after{
 
   content: '';
   position: absolute;
   display: block;
   right: 0;
   top: 40px;
   right: 10px;
   height: 100%;
   width: 85%;
   border: 4px solid #093b7d;
   /* background-color: #093b7d; */
   z-index: 1;
   /* opacity: 0.3; */
}
.Properties-text p {
   font-size: 1.4rem !important;
   /* color: white; */
}


.Properties-text-bottom p {
   font-size: 1.2rem !important;
   color: white;

}

.Properties-text {
   /* background-color: #093b7d; */
   /* height: 240px; */
   padding: 1rem 2rem;
   text-align:left;
   letter-spacing: 1px;
   width: 100%;
   border-radius: 10px;
}
.Properties-text i{
 font-size: 1rem !important;
 color: #093b7d;
}

.Properties-text-bottom {
   background-color: #093b7d;
   height: 350px;
   padding: 1rem 2rem;
   text-align: left;
   border-radius: 10px;
}

/* Properties-Management css */
@media only screen and (min-width:280px) and (max-width:400px){
   .Properties-Management {
      margin-top: 6rem;
   }
   .property-img{
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
   .property-img img{
      height: auto;
      width: 80%;
      position: relative;
      z-index: 2;
   }
   .property-img::after{
    
      content: '';
      position: absolute;
      display: block;
      right: 0;
      top: 20px;
      right: 10px;
      height: 100%;
      width: 80%;
      border: 4px solid #093b7d;
      /* background-color: #093b7d; */
      z-index: 1;
      /* opacity: 0.3; */
   }
   .Properties-text p{
      margin-top: 2rem;
   }
   

   .Properties-text-bottom {
      height: auto;
      padding: 0.5rem 2rem;
      text-align: left;
   } 
}
@media only screen and (min-width:401px) and (max-width:768px) {
   .Properties-Management {
      margin-top: 6rem;
   }
   .property-img{
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
   .property-img img{
      height: auto;
      width: 80%;
      position: relative;
      z-index: 2;
   }
   .property-img::after{
    
      content: '';
      position: absolute;
      display: block;
      right: 0;
      top: 30px;
      right: 10px;
      height: 100%;
      width: 80%;
      border: 4px solid #093b7d;
      /* background-color: #093b7d; */
      z-index: 1;
      /* opacity: 0.3; */
   }
   .Properties-text p{
      margin-top: 2rem;
   }
   

   .Properties-text-bottom {
      height: auto;
      padding: 0.5rem 2rem;
      text-align: left;
   }
}

@media only screen and (min-width:769px) and (max-width:990px){
  

   .Properties-text-bottom {
      height: 700px;
     
   }
   .Properties-text p{
      margin-top: 2rem;
   }
   .property-img::after{
    
      content: '';
      position: absolute;
      display: block;
      right: 0;
      top: 50px;
      right: 30px;
      height: 100%;
      width: 80%;
      border: 4px solid #093b7d;
      /* background-color: #093b7d; */
      z-index: 1;
      /* opacity: 0.3; */
   }
   .Properties-text p{
      margin-top: 2rem;
   }
}
@media only screen and (min-width:991px) and (max-width:1199px){
   .Properties-text-bottom {
      height: 500px;
     
   }
   .property-img::after{
    
      content: '';
      position: absolute;
      display: block;
      right: 0;
      top: 40px;
      right: 150px;
      height: 100%;
      width: 50%;
      border: 4px solid #093b7d;
      /* background-color: #093b7d; */
      z-index: 1;
      /* opacity: 0.3; */
   }
   .Properties-text p{
      margin-top: 2rem;
   }
}
@media only screen and (min-width:1200px) and (max-width:1370px){

   .Properties-text-bottom {
      height: 500px;
     
   }
   .property-img::after{
    
      content: '';
      position: absolute;
      display: block;
      right: 0;
      top: 40px;
      right: -30px;
      height: 100%;
      width: 85%;
      border: 4px solid #093b7d;
      /* background-color: #093b7d; */
      z-index: 1;
      /* opacity: 0.3; */
   }

}